{
  "root": true,
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
    "plugin:effector/recommended",
    "plugin:effector/scope"
  ],
  "plugins": ["prettier", "testing-library", "effector"],
  "overrides": [
    // Only uses Testing Library lint rules in test files
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"],
      "rules": {
        "testing-library/render-result-naming-convention": "off"
      }
    },
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "rules": {
    "import/no-unresolved": "error",
    "react/display-name": "off",
    "curly": "error"
  }
}
